.surprise {
  visibility: hidden;
}

img:hover {
opacity: 0.7;
}

.beige {
  color: beige;
}

body {
  background-color: beige;
}

#library {
    background-color: beige;
    background-image: url("resources/library01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
